params.in = "$baseDir/fastq/*{1,2}.fq.gz"
params.refseq = "$baseDir/refseq/*.fna"
params.out = "$HOME/test"
params.adapters = "$baseDir/db/adapters/adapters.fa"
params.sizefilter = 3000
params.phix = "$baseDir/db/phix.fasta"
params.genome_db = "$baseDir/db/refseq.genomes.k21s1000.msh"
params.threads = 4

process {
  withName:fastqc {
    container = 'quay.io/biocontainers/fastqc:0.11.9--0'
  }
  withName:multiqc {
    container = 'quay.io/biocontainers/multiqc:1.8--py_2'
  }
  withName:'prokka.*' {
    container = 'quay.io/biocontainers/prokka:1.14.6--pl526_0'
  }
  withName:assembly {
    container = 'quay.io/biocontainers/spades:3.14.0--h2d02072_0'
  }
  withName:'bbmap.*' {
    container = 'quay.io/biocontainers/bbmap:38.86--h1296035_0'
  }
  withName:'mash.*' {
    container = 'quay.io/biocontainers/mash:2.2.2--ha61e061_2'
  } 
  withName:'tabulate.*' {
    container = 'jiangweiyao/pandas_tabulate:latest'
  }
  withName:'roary.*' {
    container = 'sangerpathogens/roary:latest'
  }
  withName:'fasttree' {
    container = 'evolbioinfo/fasttree:v2.1.11'
  }
  withName:busco {
    container = 'ezlabgva/busco:v4.1.1_cv1'
  }
}

singularity.enabled = true
//singularity.cacheDir = "$baseDir/cache/"

