params.in = "$baseDir/fastq/*{R1,R2}.fq.gz"
params.refseq = "$baseDir/refseq/*.fna"
params.out = "./test"
params.adapters = "$baseDir/db/adapters/adapters.fa"
params.sizefilter = 3000
params.phix = "$baseDir/db/phix.fasta"
params.genome_db = "$baseDir/db/refseq.genomes.k21s1000.msh"
params.roarythread = 4
params.mashtopn = 30
params.thread = 1


process {
  withName:busco {
    container = 'ezlabgva/busco:v4.1.1_cv1'
  }

  container = 'jiangweiyao/quaisar_coregenome:latest'
}

singularity.enabled = true
//singularity.cacheDir = "$baseDir/cache/"

NXF_OPTS="-Xms1024m -Xmx10240m"
